body {
    background: var(--tg-theme-secondary-bg-color);
}

main {
    background: var(--tg-theme-bg-color);
}

.car {
    font-size: 500%;
}













.btn {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-style: 20px;
    font-weight: 500;
    cursor: pointer;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
}